<div class="container shadow-lg">
    <br>
    <div>
        <h1 align="center">Welcome to the world of Pizza</h1>
        <br>
    </div>
    <div>
        <p>What's better than having a crispy melty pizza, you ask? Having that crispy and melty pizza in the comfort of your own home with the ones you love, we say. There is something for everyone here. The vegetarians, non-vegetarians, the sides lovers and also the ones who love to have something sweet by the time they reach the last bite of the last slice of pizza slice.</p>
        <p>With Pizzeria's it is always “Rishton ka time”. Whether it's a treat for your promotion, a kid topping his class or winning the heart of your wife who is too tired to cook after a long day at work! A cheesy slice of the best pizza is all one needs to put things into perspective and start any celebration. Plus, you do not even need to rush to the restaurant to have one now. A call, a few clicks on our website or a few touches on the mobile screen is all you have to do to have that tempting, light-on-the-pocket pizza at your doorstep.</p>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4"><img src="../../assets/ing.jpg" alt="img" height="250px" width="350px"></div>
            <div class="col-md-8">
                <br>
                <h2 align="center">Ingredients</h2>
                <br>
                <p>We provide the best ingredients there is to be used on any pizza. We also offer a varity of ingredients which you can use to build a pizza of your own which will help you calm your taste buds. Go ahead and try them!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <br>
                <h2 align="center">Our Chef</h2>
                <br>
                <p>
                    Our Chefs are one of the finest there is in making the best pizzas possible which will bring the joy of eating pizza. They are also very well experienced in making pizzas in such a way that it will make your tastebuds tingle upon just looking at the sight of our chefs making the pizzas.
                </p>
            </div>
            <div class="col-md-4"><img src="../../assets/chef.jpg" alt="img" height="250px" width="350px"></div>
        </div>
        <div class="row">
            <div class="col-md-4"><img src="../../assets/time.jpg" alt="img" height="250px" width="350px"></div>
            <div class="col-md-8">
                <br>
                <h2 align="center">45 Min Delivery</h2>
                <br>
                <p>We promise to delivery our pizza within 45 minutes from the moment the order was placed anywhere within the city limits. If not we promise that you can take the pizza for free and enjoy the taste of it too. So hurry up!! Start your order.</p>
            </div>
        </div>
    </div>
</div>
<br>